body{
    background: rgb(122,145,141);
background: linear-gradient(180deg, rgba(122,145,141,1) 2%, rgba(147,177,167,1) 57%, rgba(153,194,162,1) 100%);
    background-attachment: fixed;
    overflow: scroll;
    height: 100%;
    color:black;
}

h1{
    color: black;
    text-align: left;
}

.manav{
    height:200px;
    width:200px;
    float:right;
}
.about{
    color: black;
    text-align: left;
    font-size:x-large;

}

.hidden{
    opacity: 0;
}

.show{
    opacity: 100;
    transition: 1s;
}

.center{
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

h2{
    background-color:peru;
    color:powderblue;
    text-align:center;
}

h3{
    background-color:peru;
    color:powderblue;
    text-align:right;
}

h4{
    background-color:peru;
    color:powderblue;
    text-align:justify;
}

h5{
    background-color:peru;
    color:powderblue;
    text-align:left;
    direction: ltr;
}

h6{
    background-color:peru;
    color:powderblue;
    text-align:center;
    unicode-bidi: bidi-override;
}